{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}


{% block page_header %}
<section class="masthead" role="img" aria-label="Image Description">
   <h1>
       Shopping Bag
   </h1>
     <button>
       BREADCRUMBS
     </button>
 </section>
{% endblock %}


{% block content %}
<section class="products">
    <table class="table" id="stockTable" data-cols-width="20,30,10,20,10,10">
    {% if bag_items %}
    <tr class="row head gap" style="background: var(--brand)"><td></td></tr>
    <tr class="row head tableHead" data-height="42.5"><td data-f-bold="true" data-a-v="middle" data-f-sz="14" data-underline="true"><h3>Shopping Bag</h3></td></tr>
    <tr class="row head tableHead" >
      <td class="cell" data-f-bold="true" data-a-h="center" data-fill-color="00ebebeb">In Stock</td>  
      <td class="cell" data-f-bold="true" data-a-h="center" data-fill-color="00ebebeb">Item</td>
      <td class="cell" data-f-bold="true" data-a-h="center" data-fill-color="00ebebeb">Price</td>
      <td class="cell" data-f-bold="true" data-a-h="center" data-fill-color="00ebebeb">Quantity</td>
      <td class="cell" data-f-bold="true" data-a-h="center" data-fill-color="00ebebeb">Total</td>
    </tr>
    {% for item in bag_items %}
    <tr class="row tableBody">  
        <td class="cell" data-t="n" data-a-h="right" data-num-fmt="0" >
            <div class="title" >In Stock</div>
            <div class="content number" >image</div>
          </td>  
         <td class="cell" data-a-wrap="true">
           <div class="title" data-exclude="true">Part No</div>
           <div class="content">{{ item.product.name }}</div>
         </td>
         <td class="cell" data-a-wrap="true">
           <div class="title" data-exclude="true">Part Description</div>
           <div class="content">{{ item.product.price }}</div>
         </td>
         <td class="cell">
           <div class="title" data-exclude="true">UOM</div>
           <div class="content">{{ item.quantity }}</div>
         </td>
         <td class="cell" data-t="n" data-a-h="right" data-num-fmt="0">
         <div class="title" >Kanban Level</div>
         <div class="content number" >{{ item.product.price }}</div>
       </td>

     </tr>
    {% endfor %}
</table>

    {% else %}
    {% endif %}

</table>



{% endblock %}
</section>