{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="video-holder">
   <video src="{% static 'video/header.mp4' %}" autoplay loop playsinline muted></video>
</div>
<header class="homeHeader">
   <section class="header-content">
      <h1>Kilmacow Community Clean Up</h1>
      <p>
         Welcome to our online store.
      </p>
      <div class="buttonRow">
         <a href="{% url 'products' %}" class="button">Shop</a>
         <a href="{% url 'contact' %}" class="button flip">Contact Us</a>
      </div>
   </section>
</header>
{% endblock %}
