{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
{% endblock %}

{% block page_header %}
<section class="masthead" role="img" aria-label="Image Description">
  <h2>
    {{ user }}
  </h2>
</section>
{% endblock %}

{% block content %}
<section class="bag">
  <div class="pageContent">
    <div class="child">
        

      <table class="table" id="orderHistoryTable">
        <tr class="row tableHead">
          <td>
            <h3>Order History</h3>
          </td>
        </tr>

        <tr class="row tableHead">
          <td class="cell">Order No:</td>
          <td class="cell">Date</td>
          <td class="cell">Items</td>
          <td class="cell">Total </td>
        </tr>
        {% for order in orders %}
        <tr class="row tableBody">
          <td class="cell">
            <div class="title">Order No:</div>
            <div class="content" style="word-break: break-all;"><a href="{% url 'order_history' order.order_number %}"
              title="{{ order.order_number }}"
              > {{ order.order_number|truncatechars:10 }} </a></div>
          </td>
          <td class="cell">
            <div class="title">Date </div>
            <div class="content">{{ order.date_ordered }}
            </div>
          </td>
          <td class="cell">
            <div class="title">
              <h6><strong>Items:</strong></h6>
            </div>
            <div class="content number">
              <ol class="addressList">
                {% for item in order.lineitems.all %}
                <li>{{ item.product.name }} X {{ item.quantity}}</li>
                {% endfor %}
              </ol>
            </div>
          </td>
          <td class="cell">
            <div class="title">Date </div>
            <div class="content">{{ order.grand_total }}
            </div>
          </td>
        </tr>
        {% endfor %}
        
      </table>
    </div>
    <div class="child">
      <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
        {% csrf_token %}
        {{ form|crispy }}
      <div class="buttonRow fEnd">
        <button type="submit" class="button">Update</button>
      </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}


