{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
{% endblock %}



{% block page_header %}
<section class="masthead" role="img" aria-label="Image Description">
   <h1>
       Thank you
   </h1>
     <!-- <button>
       BREADCRUMBS
     </button> -->
</section>
{% endblock %}

{% block content %}
<section class="bag">

  <div class="pageContent">
    <!-- div 1-->
    <div class="orderDetails">
      <h4>Order Details</h4>
      <ol class="orderConfirm">
        <li></li>
        <li>Order No: {{ order.order_number }}</li>
        <li>Order Date: {{ order.date_ordered }}</li>



      </ol>

    </div>
    <!-- div 2-->
    <div>

    
    </div>
    
    </div>
      <div class="buttonRow fEnd">
        <a href="{% url 'products' %}"><button class="button flip" style="margin-right: .5rem; text-align: center;"><i class="icon-left" style="margin-right: .5rem;"></i>Continue Shopping</button></a>
      </div>
</section>
{% endblock %}
