.masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 10vh;
    height: 15vh; /* if you don't want it to take up the full screen, reduce this number */
    overflow: hidden;
    background-size: cover !important;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
    url("../img/flowers.jpg") no-repeat center center scroll;

    
  }
  
  .masthead h1 {
    font-style: normal;
    font-weight: bold;
    color: var(--brand);
    font-size: 11vmin;
    text-transform: capitalize;
  }
  