/* --- TABLE --- */
.table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  width: inherit;
  border-collapse: collapse;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
  display: flex;
  border-bottom: thin solid var(--surface1);
}

.totalHeader {
  border-top: thin solid var(--surface1);
  border-bottom: thin solid var(--surface1);
}

td {
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
}

.tableHead,
.head {
  background-color: var(--surface1);
}

#orderTable tr.tableBody td:first-child {
  width: 30%;
}

.tableBody {
  background-color: var(--surface2);
}

td>div.title,
td.celltitle {
  display: none;
}

#orderHistoryTable tr td {
  width: 25%;
  justify-content: center;
  text-align: center;
}

tr td:nth-child(n+3) {
  /* width: 10%; */
  justify-content: flex-end;
  text-align: right;
}

ol.addressList li {
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {

  .tableHead,
  .mobileHidden {
    display: none;
  }

  table {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none;
  }

  #orderTable tr {
    box-shadow: none;
    margin-bottom: 0;
    border-bottom: none;
  }

  tr {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }

  .totalHeader {
    border-top: thin solid var(--surface1);
    border-bottom: thin solid var(--surface1);
  }

  td {
    width: 100% !important;
    display: flex;
    align-items: center;
  }

  td>div.title {
    display: flex;
    flex: 1;
    color: var(--brand);
    font-weight: 700;
    border-right: 1px solid #ccc;
    align-items: flex-start;
    justify-content: flex-start;
  }

  td>div.content {
    display: flex;
    flex: 1;
    padding-left: .5rem;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    word-break: break-word;
  }

  td.celltitle {
    display: block;
    background-color: var(--brand);
    color: white;
    font-weight: 700;
    order: -1;
  }

  .tableHead,
  .mobileHidden {
    display: none;
  }
}