{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block page_header %}
<section class="masthead">
  <h2>
    Product Management
  </h2>
</section>
{% endblock %}

{% block content %}
<section>
  <div class="pageContent">
    <div class="child">

    </div>
    <div class="child">
      <form action="{% url 'edit_product' product.id %}" method="POST" id="add-product" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="buttonRow fEnd">
          <a href="{% url 'products' %}">
            <button class="button flip" style="margin-right: .5rem; text-align: center;"><i class="icon-basket"
                style="margin-right: .5rem;"></i>Cancel</button>
          </a>
          <button id="submitPayment" type="submit" class="button button--addOnRight"><i class="icon-credit-card"
              style="margin-right: .5rem;"></i>Update Product</button>
        </div>
      </form>

    </div>
  </div>
</section>
{% endblock %}
