{% extends "base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}


{% block page_header %}
<section class="masthead" role="img" aria-label="Image Description">
   <h2>
       {{ request.resolver_match.url_name }}
   </h2>
 </section>
 <section class="searchBar">
   <div class="searchProducts">
   <form id="searchForm" class="" method="GET" action="{% url 'products' %}">      
      <input type="search" class="filter" name="search" id="search" placeholder="&#xe909;" autocomplete="off" autocorrect="off"
      autocapitalize="none" spellcheck="false"/>
      <select id="selectElement" form="searchForm" class="filter" name="select">
         <option value="" selected disabled>Category</option>
         {% for category in category_select %}
           <option value="{{ category }}">{{ category }}</option>
         {% endfor %}
      </select>
</form>
      <select id="sortElement" class="filter" name="sort">
        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
      </select>
    </div>
   
</section>
{% endblock %}


{% block content %}
<section class="products">
  <p>
    {% if search_term or current_categories or current_sorting != 'None_None' %}
        <span class="small"><a href="{% url 'products' %}">View All</a> | </span>
    {% endif %}
    {{ products|length }} Products{% if search_term %} found {% endif %}
</p>
<section class="productsGrid">
{% for product in products %}

<div class="productCard regular-shadow">
 <a href="{% url 'product_detail' product.id %}">  
    <img src="{{ product.image_url }}" alt="{{ product.name }}"/>
    
  </a>
   <p>{{ product.name }}</p>
   <i>{{ product.category }}</i>
   <p><span>€{{ product.price }}</span></p>
   {% if request.user.is_superuser %}
   <p class="buttonRow">
    <a class="green" href="{% url 'edit_product' product.id %}">Edit</a>
    <a class="red" href="{% url 'delete_product' product.id %}">Delete</a>
 </p>
 {% endif %}
</div>

{% endfor %}


</section>
</section>


{% endblock %}

{% block delayed_js %}
{{ block.super }}
<script>
const currentURL = new URL(window.location)
const selectElement = document.querySelector('#selectElement');
const sortElement = document.querySelector('#sortElement');
const editElement = document.querySelectorAll('.edit-delete')

selectElement.addEventListener("change", (e) => {
  e.preventDefault();
  let categoryParam = e.currentTarget.value;
  window.location = "{% url 'products' %}?category=" + categoryParam;
});

sortElement.addEventListener("change", (e) => {
  e.preventDefault();  
  let selectedParam = e.currentTarget.value;
  selectedParam == 'reset' ? resetParams() : changeParams(selectedParam);
});

  function resetParams(){
  currentURL.searchParams.delete("sort")
  currentURL.searchParams.delete("direction")
  window.location.replace(currentURL)
  }

 function changeParams(val) {
  let sortParam = val.split('_')[0];
  let directionParam = val.split('_')[1];
  currentURL.searchParams.set("sort", sortParam)
  currentURL.searchParams.set("direction", directionParam)
  window.location.replace(currentURL)
}

function editProduct(){

}

</script>
{% endblock %}

