{% extends "base.html" %}

{% load static %}




{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}


{% block page_header %}
<section class="masthead" role="img" aria-label="Image Description">
   <h1>
       {{ request.resolver_match.url_name }}
   </h1>
     <button>
       BREADCRUMBS
     </button>
 </section>
 <section class="searchBar">
   <form id="searchProducts" method="GET" action="{% url 'products' %}">      
      <input type="search" class="filter" name="search" id="search" placeholder="&#xe909;" autocomplete="off" autocorrect="off"
      autocapitalize="none" spellcheck="false"/>
      <select form="searchProducts" class="filter" name="select">
         <option value="" selected disabled hidden>Category</option>
         {% for category in categories %}
           <option value="{{ category }}">{{ category }}</option>
         {% endfor %}
      </select>
   </form>
</section>
{% endblock %}


{% block content %}
<section class="products">
<section class="productsGrid">
{% for product in products %}
<a href="{% url 'product_detail' product.id %}"> 
<div class="productCard regular-shadow">
   <img src="{% static 'img/hero.jpg' %}"/>
   <p>{{ product.name }}</p>
   <i>{{ product.category }}</i>
   <p><span>€{{ product.price }}</span></p>
</div>
</a>
{% endfor %}


</section>
</section>


{% endblock %}